@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// Fuentes
$fuente_principal:'PT Sans', sans-serif;

// Tamaños mq
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color_primario:#f9d99a;
$grisOscuro:#403E3E;
$blanco:#ffffff;
$negro: #000000;