.contenedor-formulario{
    display: flex;
    gap: 2rem;
}

.formulario{
    background-color: $grisOscuro;
    padding: 2rem;
    @include grid(2, 1rem);
    border-radius: 1rem;
    input, select{
        width: 100%;
        background-color: $blanco;
        border: none;
    }
    label{
        color: $blanco;
    }
    .btn-enviar{
        width: 50%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
}

.titulo{
    color: $grisOscuro;
}

.ubicacion{
    iframe{
        border-radius: 1rem;
        }
    }