.footer{
    background-color: $grisOscuro;
    margin-top: 5rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        text-align: center;
        font-size: 1.5rem;
        color: $blanco;
    }

}

.contenedor-footer{
    display: flex;
    justify-content: space-around;
    color: $blanco ;
    .logo-footer{
        color: $blanco;
        font-size: 3rem;
        &:hover{
            color: $color_primario;
        }
    }
    
}

.icono-redes{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    a{
    font-size: 3.6rem;
    color: $blanco;
    &:hover{
        color: $color_primario;
    }
    }
}

.navegacion-footer{
    a{
        color: $blanco;
        margin-right: 1rem;
        font-size: 1.8rem;
        &:hover{
            color: $color_primario;
        }
    }
}